<%inherit file="/admin/base.htm" />

<form name="edit_artist" action="${url('edit_artist_submit', id=c.id)}" method="post">
 <fieldset>
  <legend> Редактирование автора </legend>
  <input type="hidden" name="id" />
  <label for="name">Имя:</label><br />
  <input type="text" name="name" size="70"/><br />
  <label for="who">Кем является:</label><br />
  <input type="text" name="who" size="70"/><br />
  <label for="info">Информация:</label><br />
  <div class="yui-skin-sam"><textarea id="editor" name="info"></textarea></div>
  <br />
  <input type="submit" value="Update"/>
 </fieldset>
</form>

<%def name="title()">Редактирование автора</%def>
<%def name="js()">
<!-- Skin CSS file -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/assets/skins/sam/skin.css">
<!-- Utility Dependencies -->
<script src="http://yui.yahooapis.com/2.8.0r4/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script src="http://yui.yahooapis.com/2.8.0r4/build/element/element-min.js"></script> 
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="http://yui.yahooapis.com/2.8.0r4/build/container/container_core-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.0r4/build/menu/menu-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.0r4/build/button/button-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="http://yui.yahooapis.com/2.8.0r4/build/editor/editor-min.js"></script>
<script>
var myEditor = new YAHOO.widget.Editor('editor', {
    height: '300px',
    width: '900px',
    handleSubmit: true,
    dompath: true, //Turns on the bar at the bottom
    animate: true //Animates the opening, closing and moving of Editor windows
});
myEditor.render();
</script>
</%def>