<%inherit file="/admin/base.htm" />

<form name="edit_discus" action="${url('edit_discus_submit', id=c.id)}" method="post">
 <fieldset>
  <legend> Редактирование дискуссии </legend>
  <input type="hidden" name="id" />
  <label for="title">Название:</label><br />
  <input type="text" name="title" size="70"/><br />
  <label for="theme">Тема:</label><br />
  <input type="text" name="theme" size="70"/><br />
  <br />
  <input type="submit" value="Редактировать"/>
 </fieldset>
</form>

<%def name="title()">Редактирование автора</%def>