<%inherit file="/admin/base.htm" />

<form name="edit_track" action="${url('edit_track_submit', id=c.id)}" method="post">
 <fieldset>
  <legend> Редактирование </legend>
  <input type="hidden" name="id" />
  <label for="title">Название:</label><br />
  <input type="text" name="title" size="70"/><br />
  <label for="artist">Автор:</label><br />
  <input type="text" name="artist" size="70"/><br />
  <label for="file">Файл:</label><br />
  <input type="file" name="file" /><br />
  <br />
  <input type="submit" value="Редактировать"/>
 </fieldset>
</form>

<%def name="title()">Редактирование автора</%def>