<%inherit file="/page/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />
<%namespace name="element" file="/social/elements.htm" />

<div align="left"><img src="/images/fresh/hdiscusone.png" /></div>
<hr class="space" />
<h5 class="first"> ${c.page.title} </h5>
<div class="first"> ${c.discus.theme} </div>
<hr class="space" />

<div class="first">
${social.add_comment()}
<hr class="space" />
${social.comments(c.comments)}
</div>

<hr class="space" />
<div align="left"><img src="/images/fresh/husersthere.png" /></div>
${c.n}
<div class="first  ">
 <hr class="space" />
 <h5> Наблюдают </h5>
 ${social.watchers(c.watchers)}
 <hr class="space" />
 <h5> Участники </h5>
 %if c.chattering:
  %for user in c.chattering:
   ${element.account(user.username)}
  %endfor
 %else:
  Никто не учавствует.
 %endif
</div>

<%def name="sidebar()">

%if request.environ['_auth']:
 <div align="right"><img src="/images/fresh/haction.png" /></div>
 <hr class="space" />
 ${social.bookmark(c.page)}
 <br />
 <a href="${url('invite', page=c.page.id)}">Поделиться</a> 
 <div class="sidebar-record">
  <small>${ext.items_per_page()}</small>
 </div>
 <hr class="space" />
%endif
%if request.environ['_perm']['admin']:
 <div align="right"><img src="/images/fresh/hadmin.png" /></div>
 <hr class="space" />
 <div class="sidebar-record">
  <a href="${url('edit_discus', id=c.discus.id)}">редактировать</a><br />
  <a href="${url('remove_discus', id=c.discus.id)}">удалить</a>
 </div>
 %else:
  <div class="sidebar-record">&nbsp;</div>
 %endif
 
</%def>

<%def name="title()"> ${c.page.title} </%def>