<%inherit file="/page/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />


<div align="left"><img src="/images/fresh/hpl.png" /></div>
<hr class="space" />
<h5 class="first">${c.page.title}</h5>
<hr class="space" />

<div class="player-base pl-player ui-widget-header ui-corner-all first" align="center">
 <div id="player-controlls"></div>    
  <button id="player-rv">rv</button>
  <button id="player-play">play</button>
  <button id="player-ff">ff</button>
  <div id="player-progressbar" style="width: 540px" align="center">
   <span>
    <small id="player-durationestimates"></small>
    <small>из</small>
    <small id="player-duration"></small>
   </span>     
  </div>
  <br />
  <small id="player-loading">загружается...</small>
  <div id="player-info" class="prepend-top"></div> 
</div>

<hr class="space" />
<ul class="first">
 %for n, track in enumerate(c.playlist.tracks):
  <li class="append-bottom">
  <a style="display:inline-block;vertical-align:bottom;"  href="${url('song', id=track.id)}" onclick="javascript:action.play(${track.id}); widget.playnow($(this));return false;">
   <img src="/images/play.png" height="16px" width="16px" style="vertical-align:bottom;"/>
  </a>
  <a href="${url('artist', id=track.artistobj.id)}">${track.artistobj.name|t,n}</a>
  -
  <a href="${url('song', id=track.id)}">${track.title|t}</a>
  %if request.environ['_auth'] and request.environ['_auth'].username==c.playlist.username:
   <a href="${url('remove_from_playlist', title=c.playlist.title, track=track.id)}">
    <img src="/images/del.png" height="16px" width="16px"/></a>
  %endif
 </li>
 %endfor
</ul>

<%def name="sidebar()">
%if request.environ['_auth']:
 <div align="right"><img src="/images/fresh/haction.png" /></div>
 <hr class="space" />
 ${social.bookmark(c.page)}<br />
 <a href="${url('invite', page=c.page.id)}">Поделиться</a><br />
 %if request.environ['_auth'] and request.environ['_auth'].username==c.playlist.username:
  <a href="${url('remove_playlist', title=c.playlist.title)}">Удалить</a>
 %endif
 <div class="sidebar-record">
 <small>${ext.items_per_page()}</small>
 </div>
 <hr class="space" />
%endif

</%def>


<%def name="title()">${c.page.title}</%def>

<%def name="css()">
 <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="Stylesheet" />	
</%def>

<%def name="js()">
<link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
<script type="text/javascript" src="/js/soundmanager2.js"></script>
<script type="text/javascript" src="/js/player2.js"></script>
<script type="text/javascript">
    var sm = soundManager;
    $(document).ready(function() {
        sm.url = '/swf/';
        sm.debugMode = false;
        player.init();
        sm.onload = function(){
            player.buildDom();
        }
    });
</script>

</%def>

<%! def t(text):
  return text.title()
%>