<%inherit file="/page/base.htm" />
<%namespace name="ext" file="/ext.htm" />
<%namespace name="element" file="/social/elements.htm" />

<div align="left"><img src="/images/fresh/hsearchlogo.png" /></div>
<hr class="space" />

%if c.tracks.count():
<h5 class="first">Музыка</h5>
<hr class="space" />
 %for track in c.tracks:
  <div class="first-double append-bottom"> 
   <a href="${url('song', id=track.id)}">${h.title(track.title)}</a> 
  </div>
 %endfor
%endif

%if c.artists.count():
<hr class="space" />
<h5 class="first">Авторы</h5>
<hr class="space" />
 %for artist in c.artists:
  <div class="first-double append-bottom">
   <a href="${url('artist', id=artist.id)}">${h.title(artist.name)}</a> 
  </div>
 %endfor
%endif

%if c.discus.count():
<hr class="space" />
<h5 class="first">Дискуссии</h5>
<hr class="space" />
 %for discus in c.discus:
  <div class="first-double append-bottom">
   <a href="${url('discus', id=discus.id)}">${h.title(discus.title)}</a> 
  </div>
 %endfor
%endif

%if c.accounts and c.accounts.count():
<hr class="space" />
<h5 class="first">Пользователи</h5>
<hr class="space" />
 %for account in c.accounts:
  <div class="first-double append-bottom"> ${element.account(account.username)} </div>
 %endfor
%endif

<%def name="sidebar()">
%if request.environ['_auth']:
 <div align="right"><img src="/images/fresh/haction.png" /></div>
 <hr class="space" />
 <div class="sidebar-record">
 <small>${ext.items_per_page()}</small>
 </div>
 <hr class="space" />
%endif
</%def>

<%def name="title()">Поиск</%def>