<%inherit file="/page/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />

<div align="left"><img src="/images/fresh/hsong.png" /></div>
<hr class="space" />
<h5 class="first"> 
 <a href="${url('artist', id=c.track.artist)}">${c.track.artistobj.name}</a> - 
 ${c.track.title} 
</h5>
<hr class="space" />

<h5 class="first download"> 
  <a href="${url('track', id=c.track.id)}">Скачать песню</a>
  <hr class="space"/>
</h5>

<div class="player first ui-widget-header ui-corner-all" align="center">
 <button id="player-play">play</button>
 <div id="player-progressbar" align="center">
  <span>
   <small id="player-durationestimates"></small>
   <small>из</small>
   <small id="player-duration"></small>
  </span>
 </div>
 <br />
 <small id="player-loading">загружается...</small>
</div>

<hr class="space" />
<div align="left"><img src="/images/fresh/hcomment.png" /></div>
<hr class="space space-ie-clear" />
<div class="first  ">
 ${social.add_comment()}
</div>
<hr class="space" />
<div class="first  ">
${social.comments(c.comments)}
</div>

<hr class="space" />
<div align="left"><img src="/images/fresh/husersthere.png" /></div>
${c.n}
<div class="first  ">
 <hr class="space" />
 <h5> Наблюдают </h5>
 ${social.watchers(c.watchers)}
 <hr class="space" />
 <h5> Участники </h5>
 %if c.chattering:
  %for user in c.chattering:
   ${element.account(user.username)}
  %endfor
 %else:
  Никто не учавствует.
 %endif
</div>
<%def name="sidebar()">

%if request.environ['_auth']:
 <div align="right"><img src="/images/fresh/haction.png" /></div>
 <hr class="space" />
${social.bookmark(c.page)}
 <form id="playlistform" action="${url('add_to_playlist')}" method="get">
 <input type="hidden" name="track" value="${c.track.id}" />
 <a href="" onclick="javascript: document.getElementById('playlistform').submit(); return false;">Добавить в плейлист</a>
 <select name="title" style="font-size: 10px;" >
  %for playlist in request.environ['_auth'].playlists:
   <option value="${playlist.title}">${playlist.title}</option>
  %endfor
  <option value="_new">Новый</option>
 </select>
 </form>
 <a href="${url('invite', page=c.page.id)}">Поделиться</a> 
 %if c.track.username==request.environ['_auth'].username:
  <a class="loud large" href="${url('edit_track', id=c.track.id)}">Редактировать</a>
 %endif
 <div class="sidebar-record">
 <small>${ext.items_per_page()}</small>
 </div>
 <hr class="space" />
%endif
%if request.environ['_perm']['admin']:
 <div align="right"><img src="/images/fresh/hadmin.png" /></div>
 <hr class="space" />
 <div class="sidebar-record">
  %if c.track.username:
   <a href="${url('confirm_track', id=c.track.id)}">подтвердить</a><br/>
  %endif
  <a href="${url('edit_track', id=c.track.id)}">редактировать</a><br/>
  <a href="${url('remove_song', id=c.track.id)}">удалить</a><br/>
 </div>
 %else:
  <div class="sidebar-record">&nbsp;</div>
 %endif
 
</%def>

<%def name="title()">${h.title(c.page.title)}</%def>

<%def name="css()">	
</%def>

<%def name="js()">
<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
<script type="text/javascript" src="/js/soundmanager2.js"></script>
<script type="text/javascript" src="/js/player2.js"></script>
<script type="text/javascript">
    var sm = soundManager;
    $(document).ready(function(){
        sm.url = '/swf';
        sm.debugMode = false;
        player.init();
        sm.onload = function (){
            action.load(${c.track.id});
        }
    });
</script>

</%def>
