<%inherit file="/account/base.htm" />
<%namespace name="social" file="/social/ext.htm" />

<hr class="space" />
<div class="first">
 <a href="${url('info')}">Редактировать информацию</a><br />
 <a href="${url('reset_password')}">Новый пароль</a>
</div>

<%def name="title()">Страница пользователя ${request.environ['_auth'].username}</%def>
