<%inherit file="/base.htm" />
<%namespace name="ext" file="/ext.htm" />

<div align="left"><img src="/images/fresh/husermenu.png" /></div>
<hr class="space" />

<ul id="usermenu-base" class="first">
 <li><a href="${url('acc_pm')}">Личные сообщения</a></li>
 <li><a href="${url('acc_bookmarks')}">Закладки</a></li>
 <li><a href="${url('acc_friends')}">Друзья</a></li>
 <li><a href="${url('acc_ignored')}">Игнорируемые</a></li>
 <li><a href="${url('acc_playlists')}">Списки воспроизведения</a></li>
 <li> <small> email: ${request.environ['_auth'].email} </small> </li>
</ul>
<hr class="space" />

${next.body()}

<%def name="sidebar()">

 %if request.environ['_auth']:
 <div align="right"><img src="/images/fresh/haction.png" /></div>
 <hr class="space" />
 <div class="sidebar-record">
  <small>${ext.items_per_page()}</small>
 </div>
 <hr class="space" />
 %endif

</%def>


