<%inherit file="/account/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />

<h5 class="first"> Закладки </h5>
<hr class="space" />

<% updates = h.updates(request.environ['_auth']) %>
%if updates:
<div class="first">
 <a href="${url('updates')}">Обновления в закладках: ${updates}</a>
</div>
<hr class="space" />
%endif

%if not c.bookmarks:
<div class="first">
 <h4>
 Закладки - это инструмент, который обеспечит быстрый доступ к интересующей вас информации,
 а так же позволит позволит вам всегда быть в курсе всех связанных обновлений.<hr class="space" />
 Для создания закладки на интересующей вас странице в меню пользователя воспользуйтесь кнопкой "Добавить в закладки".
 </h4>
</div>
%else:
<div class="first-double">
${social.bookmarks(c.bookmarks, request.environ['_auth'])}
</div>
%endif

<%def name="title()">Закладки</%def>
