<%inherit file="/account/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />

<h5 class="first"> Переписка с ${c.correspondent.username} </h5>
<hr class="space" />

<div class="first">
 ${social.pm(c.correspondent)}
</div>
 
<hr class="space" />
<div class="first">
 ${social.pm_in(c.correspondence, request.environ['_auth'])}
</div>

<%def name="title()">Переписка с ${c.correspondent.username}</%def>
