<%inherit file="/account/base.htm" />
<hr class="space" />
<div class="first">
<form name="fileform" action="${url('create_playlist_submit')}" method="get">
 <fieldset>
  <legend> Создание плейлиста </legend>
  <input type="hidden" name="track" value="${c.track}" />
  <label for="title">Название:</label><br />
  <input type="text" name="title" size="75"/><br />
  <br/>
  <input type="submit" value="Добавить" />
 </fieldset>
</form>
</div>

<%def name="title()"> Создание плейлиста </%def>