<%inherit file="/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />

<div align="left"><img src="/images/fresh/hupdates.png" /></div>
<hr class="space" />

<h5 class="first"> Сообщения </h5>
<hr class="space" />
<div class="first-double">
${social.timeline_friends_comment(c.comments, request.environ['_auth'])}
</div>

<hr class="space" />
<h5 class="first"> Закладки </h5>
<hr class="space" />
<div class="first-double">
${social.timeline_friends_bookmark(c.bookmarks, request.environ['_auth'])}
</div>

<%def name="title()">Обновления друзей</%def>