<%inherit file="/account/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />

<h5 class="first"> Друзья </h5>
<hr class="space" />

%if request.environ['_auth'].friendship_requests:
<div class="first">
 <a href="${url('acc_requests')}" class="loud">Запросы на добавления в друзья: ${len(request.environ['_auth'].friendship_requests)}</a>
 <hr class="space" />
</div>
%endif

%if not c.friends:
<div class="first">
 <h4>
 Друзья позволят вам не заскучать в нужные моменты, вы всегда сможете узнать чем интересуется пользователь
 и всегда будете в курсе, где происходят самые интересные дискуссии.<hr class="space" />
 Для добавления в друзья на странице близкого вам пользователя в меню пользователя воспользуйтесь кнопкой "Добавить в друзья".
 </h4>
</div>
%else:
<div class="first-double">
${social.friends(c.friends, request.environ['_auth'])}
</div>
%endif

<%def name="title()">Друзья</%def>
