<%inherit file="/account/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />

<h5 class="first"> Игнорируемые </h5>
<hr class="space" />

%if not c.ignored:
<div class="first">
 <h4>
 Список игнорируемых пользователей - это инструмент, который позволит скрыть надоедливых пользователей от ваших глаз.
 <hr class="space" />
 Для добавления пользователя в список игнорируемых, на странице пользователя воспользуйтесь кнопкой "Игнорировать".
 </h4>
</div>
%else:
<div class="first-double">
${social.ignored(c.ignored, request.environ['_auth'])}
</div>
%endif

<%def name="title()">Игнорируемые</%def>
