<%inherit file="/account/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />

<h5 class="first"> Отправка приглашения </h5>
<hr class="space" />
%if request.environ['_auth']:
<div class="first">
<form action="${url('invite_submit')}">
  <fieldset>
   <legend> Отправка приглашения на страницу: ${c.page.title} </legend>
    <label for="title">Сообщение:</label><br />
    <input type="text" name="text" size="70" />
    <input type="hidden" name="page" value="${c.page.id}" />
    <hr class="space" />
    <label>Друзья:</label><br />    
    %for n, friend in enumerate(request.environ['_auth'].friends):
     <input type="checkbox" name="friend${n}" value="${friend}"/> ${friend} <br />
    %endfor
    <br />
    <input type="submit" value="Отправить" />
   </fieldset>
</form>
</div>
%else:
 <div> ${self.enter()}, чтобы отправлять личные сообщения.</div>
%endif

<%def name="title()">Отправка приглашения</%def>
