<%inherit file="/account/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />

<h5 class="first"> Списки воспроизведения </h5>
<hr class="space" />

%if not c.playlists.count():
<div class="first">
 <h4>
 С помощью списков воспроизведения вы легко сможете сгруппировать понравившиеся вам композиции,
 и с легкостью прослушать их.<hr class="space" />
 Для создания списка воспроизведения на странице композии нажмите на кнопку "Добавить в список воспроизведения".
 </h4>
</div>
%else:
<div class="first-double">
 ${social.playlists(c.playlists, request.environ['_auth'], 19)}
</div>
%endif

<%def name="title()">Списки воспроизведения</%def>
