<%inherit file="/account/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />

<h5 class="first"> Входящие сообщения </h5>
<hr class="space" />

<div class="first-double">
${social.pm_in(c.pm, request.environ['_auth'])}
</div>

<%def name="title()">Входящие сообщения</%def>
