<%inherit file="/base.htm" />

<div align="left"><img src="/images/fresh/hreg.png" /></div>
<center>
<form name="register" action="${url('register_submit')}" method="post">
 <label for="username"> Имя пользователя: </label><br />
 <input class="title" type="text" name="username"/><br />
 <label for="email"> E-mail: </label><br />
 <input class="title" type="text" name="email"/><br />
 <label for="password"> Пароль: </label><br />
 <input class="title" type="password" name="password" /><br />
 <br />
 <script type="text/javascript"
%if c.recaptcha_error:
     src="http://www.google.com/recaptcha/api/challenge?k=6LcLGcASAAAAAKW_hXU_OdxC454mFsRbx2_xc-3w&error=${c.recaptcha_error}">
%else:
     src="http://www.google.com/recaptcha/api/challenge?k=6LcLGcASAAAAAKW_hXU_OdxC454mFsRbx2_xc-3w">
%endif
  </script>
  <noscript>
     <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcLGcASAAAAAKW_hXU_OdxC454mFsRbx2_xc-3w"
         height="300" width="500" frameborder="0"></iframe><br>
     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
     </textarea>
     <input type="hidden" name="recaptcha_response_field"
         value="manual_challenge">
  </noscript>
 <br />
 <input type="submit" value="Регистрация" />		
</form>
</center>

<%def name="title()">Регистрация</%def>
<%def name="js()">
<script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'white',
    lang: 'ru',
 };
</script>
</%def>
