<%inherit file="/account/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />

<h5> Запросы на добавления в друзья </h5>

<div class="span-21 prepend-1 last">
${social.friendship_request(c.friendship_requests, request.environ['_auth'])}
</div>

<%def name="title()">Запросы на добавления в друзья</%def>
