<%inherit file="/account/base.htm" />

<center>
<h4 align="left"> Новый пароль </h4>
<form name="reset" action="${url('reset_password_submit')}" method="post">
 <label for="old"> Старый пароль: </label><br />
 <input class="title" type="password" name="old"/><br />
 <label for="new"> Новый пароль: </label><br />
 <input class="title" type="password" name="new" /><br />
 <br />
 <input type="submit" value="Установить" />		
</form>
</center>

<%def name="title()">Регистрация</%def>