<%inherit file="/base.htm" />
<%namespace name="social" file="/social/ext.htm" />

<div align="left"><img src="/images/fresh/huserpage.png" /></div>
<hr class="space" />

<h5 class="first">${c.user.username} <small style="text-transform: lowercase">${c.user.email}</small></h5>

<hr class="space" />
%if c.user.spamer:
<h4>Подозревается в рассылке спама</h4>
%endif

%if not c.user.blocked:

%if c.user.info:
<div class="first">
 <b> Информация </b><br />
 <span> ${c.user.info|n} </span>
</div>
<hr class="space" />
%endif

<div class="first">
 ${social.pm(c.user)}
</div>

<hr class="space" />
<h5 class="first"> Наблюдает за </h5>
<hr class="space" />
<div class="first-double">
 ${social.bookmarks(c.bookmarks, c.user)}
</div>

<hr class="space" />

<h5 class="first">Дискуссии</h5>
<hr class="space" />
<div class="first-double">
 ${social.timeline_comments(c.timeline_comments, c.user)}
</div>

<hr class="space" />
<h5 class="first">Закладки</h5>
<hr class="space" />
<div class="first-double">
${social.timeline_bookmarks(c.timeline_bookmarks, c.user)}
</div>

<hr class="space" />
<h5 class="first"> Друзья </h5>
<hr class="space" />
<div class="first-double">
${social.friends(c.friends, c.user)}
</div>

<hr class="space" />
<h5 class="first"> Списки воспроизведения </h5>
<hr class="space" />
<div class="first-double">
 ${social.playlists(c.playlists, c.user)}
</div>


%else:
<h5 class="first"> Заблокирован </h3s>
%endif

<%def name="sidebar()">

 %if request.environ['_auth']:
 <div align="right"><img src="/images/fresh/haction.png" /></div>
 <hr class="space" />
 ${social.friend(c.user.username)}
 <hr class="space" />
 %endif
 %if request.environ['_perm']['admin']:
 <div align="right"><img src="/images/fresh/hadmin.png" /></div>
 <hr class="space" />
 %if not c.is_admin and not c.user.blocked:
   <span> <a href="${url('set_admin_role', username=c.user.username)}">сделать администратором</a> </span>
  %endif
  %if not c.user.blocked and request.environ['_auth'].username!=c.user.username:
   <span> <a href="${url('block', id=c.user.id)}">заблокировать</a> </span>
  %endif
  %if c.user.blocked:
   <span> <a href="${url('unblock', id=c.user.id)}">разблокировать</a> </span> 
  %endif
 %else:
  <div class="sidebar-record">&nbsp;</div>
 %endif
 
 
</%def>

<%def name="title()"> Страница пользователя ${c.user.username} </%def>