<%inherit file="/base.htm" />

<div align="left"><img src="/images/fresh/henter.png" /></div>
<center>
<form name="signin" action="${url('signin_submit')}" method="post">
 <input type="hidden" name="backref" value="${c.backref}"/><br />
 <label for="username"> Пользователь: </label><br />
 <input class="title" type="text" name="username"/><br />
 <label for="password"> Пароль: </label><br />
 <input class="title" type="password" name="password" />
 <hr class="space" />
 <input type="submit" value="Вход" />
</form>
</center>

<%def name="title()">Вход</%def>