<%inherit file="/account/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="ext" file="/ext.htm" />
<%namespace name="element" file="/social/elements.htm" />

<h5 class="first">Обновления закладок</h5>
<div class="first"> <a href="${url('read_updates')}">Отметить все как прочитанное</a></div>
<hr class="space" />

%for n, (bookmark, comments) in sorted(c.updates.items()):
 %if comments:
  <div class="first-double append-bottom">
   <a href="${url('read', page=bookmark.page)}">${h.title(bookmark.title)}</a>
  </div>
 %for comment in comments:
 <div class="first-double">
  <div class="comment">
   <small>${comment.datetime.strftime('%d.%m.%y')} от
   ${element.account(comment.username)}
    %if request.environ['_auth'] and comment.username!=request.environ['_auth'].username:
     <a href="${url('mark_as_spam', id=comment.id)}">это спам</a>
    %endif
    %if request.environ['_perm']['admin']:
     <a href="${url('remove_comment', comment=comment.id)}">удалить</a> 
    %elif request.environ['_auth'] and request.environ['_auth'].username==comment.username:
     <a href="${url('remove_myself_comment', comment=comment.id)}">удалить</a> 
    %endif   
   </small><br />
   <strong>
    %if comment.spam<3:
     ${comment}
    %else:
     <% h.mark_as_spamer(comment) %>
     спам скрыт
    %endif   
   </strong>
  </div>
 </div>
 <hr class="space" />
 %endfor
 <hr class="space" />
 <div class="navigation first">
  ${comments.pager(u'~2~', page_param='%s_page'%bookmark.id)}
 </div>  
 %endif 
%endfor

<%def name="title()">Обновления закладок</%def>