<%namespace name="ext" file="/ext.htm" />

<%def name="account(username, datetime=None)">
 <div class="account-block">
  <a href="${url('correspondence', username=username)}"><img src="/images/im.png" height="16px" width="16px"/></a> 
  %if h.get_account(username).online:
   <img src="/images/online.png" height="16px" width="16px"/>
  %endif
  <a href="${url('show_account', username=username)}">${username}</a>
 </div>
</%def>

<%def name="play(track)">
 <a href="${url('song', id=track.id)}" onclick="javascript:play('${track.id}');return false;">
  <img src="/images/play.png" height="16px" width="16px" style="vertical-align:middle;"/>
 </a>
</%def>

<%def name="paginate(obj, page_param)">
<div class="navigation first">
 ${obj.pager(u'~2~', page_param=page_param)}
</div> 
</%def>