<%namespace name="element" file="/social/elements.htm" />

<%def name="comments(comments)">

%if comments:
 %for comment in comments:
  <div class="comment">
   <small>${comment.datetime.strftime('%d.%m.%y')} от
   ${element.account(comment.username)}
    %if request.environ['_auth'] and comment.username!=request.environ['_auth'].username:
     <a href="${url('mark_as_spam', id=comment.id)}">это спам</a>
    %endif
    %if request.environ['_perm']['admin']:
     <a href="${url('remove_comment', comment=comment.id)}">удалить</a> 
    %elif request.environ['_auth'] and request.environ['_auth'].username==comment.username:
     <a href="${url('remove_myself_comment', comment=comment.id)}">удалить</a> 
    %endif   
   </small><br />
   <strong>
    %if comment.spam<3:
     ${comment}
    %else:
     <% h.mark_as_spamer(comment) %>
     спам скрыт
    %endif   
   </strong>
  </div>
  <hr class="space" />
 %endfor
 ${element.paginate(comments, 'comments_page')}
%else:
 <div class="comment"> Никто ничего не писал. </div>
%endif
</%def>

<%def name="add_comment()">
%if request.environ['_auth']:
 <form action="${url('add_comment')}">
  <fieldset>
   <legend> Добавить комментарий </legend>
   <input type='hidden' name='page' value='${c.page.id}' />
   <input type='text' name='text' size="70" />
   <input type='submit' value='Написать' />
  </fieldset>
 </form>
%else:
 <hr class="space" />
 <div class="first">${self.enter()}, чтобы оставлять комментарии.</div>
 <hr class="space" />
%endif
</%def>

<%def name="pm(account, backref=None)">
%if request.environ['_auth']:
<form action="${url('pm')}">
  <fieldset>
   <legend> Отправить личное сообщение </legend>   
    <input type="text" name="text" size="70" />
    %if backref:
    <input type="hidden" name="backref" value="${backref}" />    
    %endif
    <input type="hidden" name="account" value="${account.username}" />
    <input type="submit" value="Отправить" />
   </fieldset>
</form>
%else:
 <hr class="space" />
 <div class="first"> ${self.enter()}, чтобы отправлять личные сообщения.</div>
 <hr class="space" />
%endif
</%def>

<%def name="pm_in(pm, account)">
%if pm:
 %for message in pm:
  %if message.unread and message.username1!=account.username:
   <% message.mark_as_read() %>
   <div class="first append-bottom">
  %else:
   <div class="append-bottom">
  %endif
  <small>${message.datetime.strftime('%d.%m.%y')} от:</small>${element.account(message.username1)}
   %if message.invite:
    <small>приглашение в </small>
    <a href="${message.inviteobj.path}">
     ${message.inviteobj.title}
    </a>
   %endif
  <br/>${message}   
  </div>
 %endfor
 <hr class="space" />
 ${element.paginate(pm, 'pm_page')}
%else:
 <div class="first">Нет личных сообщений.</div>
%endif
</%def>

<%def name="bookmarks(bookmarks, account)">
%if bookmarks:
 <ul>
  %for bookmark in bookmarks:
   <li class="append-bottom">
    <small>${bookmark.pageobj.type_str}</small>
    <a href="${bookmark.path}">${h.title(bookmark.title)}</a> 
   %if request.environ['_auth'] and account.username==request.environ['_auth'].username:
    <a href="${url('remove_bookmark', page=bookmark.page)}"><img src="/images/del.png" height="16px" width="16px"/></a>
   %endif  
  %endfor
 </ul>
 ${element.paginate(bookmarks, 'bookmarks_page')}
%else:
 <div class="clear">Нет закладок.</div> 
%endif
</%def>

<%def name="bookmark(page)">
%if request.environ['_auth']:
 %if not h.is_bookmarked(page.id, request.environ['_auth'].username):
  <a href="${url('add_bookmark', page=page.id)}">Добавить в закладки</a>
 %else:
  <a href="${url('remove_bookmark', page=page.id)}">Удалить из закладок</a>
 %endif
%endif
</%def>

<%def name="enter()">
 <a href="${url('signin', backref=request.url)}">Войдите</a>
 <span> или </span>
 <a href="${url('register')}">зарегистрируйтесь</a>
</%def>

<%def name="watchers(watchers)">
%if watchers:
 %for bookmark in watchers:
  ${element.account(bookmark.username)}
 %endfor
 ${element.paginate(watchers, 'watchers_page')}
%else:
 <div class="clear">Никто не наблюдает.</div>
%endif
</%def>

<%def name="friends(friends, account)">
%if friends:
 <ul>
 %for username in friends:
  <li class="append-bottom">
   ${element.account(username)}
   %if request.environ['_auth'] and account.username==request.environ['_auth'].username:
    <a href="${url('remove_friend', id=username)}">Удалить из друзей</a>
    <a href="${url('ignore', id=username, ignore='yes')}">Игнорировать</a>
   %endif
  </li>
 %endfor
 </ul>
 ${element.paginate(friends, 'friends_page')}
%else:
 <div class="clear">Нет друзей.</div>
%endif
</%def>

<%def name="playlists(playlists, account, span=9)">
%if playlists and playlists.count():
 <ul>
 %for playlist in playlists:
  <li class="append-bottom">
   <a href="${url('playlist', username=account.username, title=playlist.title)}">Список воспроизведение > ${playlist.title}</a>
   %if request.environ['_auth'] and request.environ['_auth'].username==playlist.username:
    <a href="${url('remove_playlist', title=playlist.title)}"><img src="/images/del.png" height="16px" width="16px"/></a> 
   %endif
  </li>
 %endfor
 </ul>
%else:
 <div>Нет плейлистов.</div>
%endif
</%def>

<%def name="friend(username)">
%if request.environ['_auth']:
<div>
 %if not c.is_friend:
  <a href="${url('add_friend', id=username)}">Добавить в друзья</a><br/>
 %else:
  <a href="${url('remove_friend', id=username)}">Удалить из друзей</a><br/>
 %endif
 %if not c.is_ignored:
  <a href="${url('ignore', id=username, ignore='yes')}">Игнорировать</a><br/>
 %else:
  <a href="${url('ignore', id=username)}">Не игнорировать</a><br/>
 %endif
</div>
%endif
</%def>

<%def name="friendship_request(friendship_requests, account)">
%if friendship_requests:
 <ul>
 %for username in friendship_requests:
  <li class="append-bottom">
   ${element.account(username)}
   <a href="${url('add_friend', id=username)}">Добавить в друзья</a>
   <a href="${url('ignore', id=username, ignore='yes')}">Игнорировать</a>
  </li>
 %endfor
 </ul>
 ${element.paginate(friendship_requests, 'friends_req_page')}
%else:
 <div>Нет запросов.</div>
%endif
</%def>

<%def name="ignored(ignored, account)">
%if ignored:
 <ul>
  %for username in ignored:
   <li class="append-bottom">
    ${element.account(username)}
    <a href="${url('ignore', id=username)}">не игнорировать</a>
   </li>
   %endfor
  ${element.paginate(ignored, 'ignored_page')}
%else:
 <div>Нет игнорируемых.</div>
%endif
</%def>

<%def name="timeline_comments(comments, account)">
%if comments:
 <ul>
 %for comment in account.order_comments_by_datetime(account.timeline_comments):
  <li class="append-bottom">
   <small>${comment.datetime.strftime('%d.%m.%y')}</small>
   <a href="${comment.page}">${comment.page_title}</a>
  </li>
 %endfor
 </ul>
 %if hasattr(comments, 'pager'):
  ${element.paginate(comments, 'tlcomments_page')}
 %endif
%else:
 <div class="clear">Пользователь ничего не писал.</div>
%endif
</%def>

<%def name="timeline_bookmarks(bookmarks, account)">
%if bookmarks:
 <ul>
 %for bookmark in bookmarks:
  <li class="append-bottom">
   <small>${bookmark.datetime.strftime('%d.%m.%y')}</small>
   <a href="${bookmark.path}">${bookmark.title}</a>
  </li>
 %endfor
 </ul>
 ${element.paginate(bookmarks, 'tlbookmarks_page')}
%else:
 <div class="clear">Пользователь не добавлял закладки.</div>
%endif
</%def>

<%def name="timeline_friends_comment(timeline_friends_comments, account)">
%if timeline_friends_comments:
 <ul>
 %for comment in timeline_friends_comments:
  <li class="append-bottom">
  ${element.account(comment.username, comment.datetime)}
   участвует в дискуссии <a href="${comment.page}">${comment.page_title}</a>
  </li>
 %endfor
 </ul>
 ${element.paginate(timeline_friends_comments, 'tlcomments_page')}
%else:
 <div>Нет обновлений.</div>
%endif
</%def>

<%def name="timeline_friends_bookmark(timeline_friends_bookmarks, account)">
%if timeline_friends_bookmarks:
 <ul>
 %for bookmark in timeline_friends_bookmarks:
  <li class="append-bottom">
  ${element.account(bookmark.username, bookmark.datetime)}
   добавил закладку <a href="${bookmark.path}">${bookmark.title}</a>
  </li>
 %endfor
 </ul>
 ${element.paginate(timeline_friends_bookmarks, 'tlbookmarks_page')}
%else:
 <div>Нет обновлений.</div> 
%endif
</%def>