<%inherit file="/base.htm" />
<%namespace name="ext" file="/ext.htm" />

<div align="left"><img src="/images/fresh/hartists.png" /></div>

%if c.letter:
<div class="first" align="center"> <a href="${url('artists')}">Все</a> </div>
%else:
<div class="first" align="center"> Все </div>
%endif

<hr class="space" />
<div class="first" align="center">
<% alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %>
%for letter in alphabet:
 %if letter!=c.letter:
  <a class="highlight" href="${url('artists_letter', letter=letter)}">${letter}</a>
 %else:
  <b class="highlight active">${letter}</b>
 %endif
%endfor
</div>

<div class="first">
<% alphabet = u'АБВГДЕЖЗИКЛМНОПРСТУФХЦЧШЩЬЫЪЭЮЯ' %>
%for letter in alphabet:
 %if letter!=c.letter:
  <a class="highlight" href="${url('artists_letter', letter=letter)}">${letter}</a>
 %else:
  <b class="highlight active">${letter}</b>
 %endif
%endfor
</div>

<hr class="space" />
<div align="left"><img src="/images/fresh/hresults.png" /></div>
<hr class="space" />
%if c.artists:
 %for artist in c.artists:
 <div class="first   append-bottom">
  <a href="${url('artist', id=artist.id)}"> ${h.title(artist.name)}</a>
 </div>
 %endfor
 <hr class="space" />
 <div class="navigation" align="center">
  ${c.artists.pager(u'~2~')}
 </div>
%else:
 <div class="first">Ничего не найдено</div>
%endif

<%def name="sidebar()">
 <div align="right"><img src="/images/fresh/haction.png" /></div>
 <hr class="space" />
 <div class="sidebar-record">
  <small>${ext.items_per_page()}</small>
 </div>
</%def>

<%def name="title()"> Авторы </%def>