<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
 <title> ${self.title()} | Guidem </title> 
 <link rel="stylesheet" type="text/css" href="/css/fresh.css" />
 <link rel="stylesheet" type="text/css" href="/css/social.css" />
 <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="Stylesheet" />
 <!--[if lte IE 7]>
  <link rel="stylesheet" type="text/css" href="/css/freshie.css" />
 <![endif]-->
 ${self.css()}
 <script type="text/javascript" src="/js/jquery.min.js"></script>
 <script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script> 

 
 <script>
  $(document).ready(function(){
        
        $('#username').focus(function(){
            if($('#username').val()=="Логин" && $('#password').val()=="Пароль"){
                $('#username').val('').removeClass("inactive");
                $('#password').val('').removeClass("inactive");
            };
        });
        $('#username').blur(function(){
            if($('#username').val()=="" && $('#password').val()==""){
                $('#username').val('Логин').addClass("inactive");
                $('#password').val('Пароль').addClass("inactive");
            };
        });
        $('#password').focus(function(){
            if($('#username').val()=="Логин" && $('#password').val()=="Пароль"){
                $('#username').val('').removeClass("inactive");
                $('#password').val('').removeClass("inactive");
            };
        });
        $('#password').blur(function(){
            if($('#username').val()=="" && $('#password').val()==""){
                $('#username').val('Логин').addClass("inactive");
                $('#password').val('Пароль').addClass("inactive");
            };
        });        
        
  });
 </script> 
 ${self.js()}
 
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <meta name='yandex-verification' content='473fe9cb36149a99' />
 <link rel="icon" href="/images/fresh/favicon/logo.png" type="image/png" />
 <link rel="shortcut icon" href="/images/fresh/favicon/logo.ico" /> 
</head>

<body>
<ul id="navigation">
 <li>
  <a href="${url('home')}" id="logo-box"><img id="logo" src="/images/fresh/logo.png" /></a>
 </li>
 <li>
  <a href="${url('home')}"><strong>Главная</strong></a>
 </li>
 <li>
  <a href="${url('timeline')}"><strong>Новое</strong></a>
 </li>
 <li>
  <a href="${url('tracks')}"><strong>Песни</strong></a>
 </li>
 <li>
  <a href="${url('artists')}"><strong>Композиторы</strong></a>
 </li> 
 <li> 
  <a href="${url('discussions')}"><strong>Дискуссии</strong></a>
 </li>   
 <li>
 <a href="${url('player')}" target="_blank"><strong>Радио</strong></a>
</li>
</ul>

<div id="navigation-bottom"> 

 <div id="base-navigation">
  <a href="mailto:admin@guidem.ru"><img src="/images/fresh/contacts.png" width="13px" height="9px" /></a>
  <a href="${url('home')}"><img src="/images/fresh/home.png" /></a>
  <img style="display:none;" src="/images/fresh/sitemap.png" />
 </div>
 <div id="submenu" align="center">
  <img src="/images/fresh/submenu.png" /> 
  <div>
   <em><a href="${url('timeline_accounts')}">Пользователи</a></em>
   <em><a href="${url('timeline_tracks')}">Песни</a></em>
   <em><a href="${url('timeline_artists')}">Композиторы</a></em>
  </div>  
 </div>
</div>

%if session.has_key('flash'):
<div id="flash-success">${session['flash']}</div>
<% del session['flash']; session.save(); %>
%endif

%if session.has_key('flash-error'):
<div id="flash-error">${session['flash-error']}</div>
<% del session['flash-error']; session.save(); %>
%endif 

<div id="contenttop"></div>
<div id="main">
 <div id="content">
  ${next.body()}
 </div>
 <div id="sidebar">
  <form action="${url('search')}" method="get">
   <div id="search">
   <input name="query" id="search-input" type="text" />
   <input id="search-icon" type="submit" value=""/>
   </div>
  </form>
  <hr class="space" />
  %if request.environ['_auth']:
   <div align="right"><img src="/images/fresh/huser.png" /></div>
   <hr class="space" />
   <div class="sidebar-record">
   <h5 align="center append-top"><a href="${url('account')}">${request.environ['_auth'].username}</a></h5>
   <ul id="usermenu">
    <li>
     <a href="${url('acc_pm')}">Сообщения</a>
     %if request.environ['_auth'].unread:
       <a href="${url('acc_pm')}" class="loud">${request.environ['_auth'].unread}</a>
     %endif
    </li>
    
    <li>
     <a href="${url('acc_bookmarks')}">Закладки</a>
     <% updates = h.updates(request.environ['_auth']) %>
     %if updates:
      <a href="${url('updates')}" class="loud">${updates}</a>
     %endif  
    </li>
    
    <li>
     <a href="${url('acc_friends')}">Друзья</a>
     %if request.environ['_auth'].friendship_requests:
       <a href="${url('acc_requests')}" class="loud">${len(request.environ['_auth'].friendship_requests)}</a>
     %endif
    </li>
   
    <li>
     <a href="${url('friends_timeline')}"> Обновления друзей </a>  
    </li>
    
    <li>
     <a href="${url('acc_playlists')}"> Списки воспроизведения </a>
    </li>
   
    %if request.environ['_perm']['admin']:
    <li>
     <a href="${url('admin')}"> Администирование </a>
    </li>
    %endif
    
    <li>
     <a href="${url('signout')}"> Выход </a>
    </li>
   </ul>
   </div>
   <hr class="space" />
  %else:
   <div align="right"><img src="/images/fresh/hlogin.png" /></div>
   <div class="sidebar-record login-form">
   <hr class="space" />
   <form name="signin" action="${url('signin_submit')}" method="post">
    <div class="styled-input-box append-bottom">
     <input class="styled-input" type="text" size="20" value="Логин" name="username_signin" id="username" class="append-bottom"/>
    </div>
    <div class="styled-input-box">
     <input class="styled-input" type="password" size="20" value="Пароль" name="password_signin" id="password" class="append-bottom"/>
    </div>
    <table border="0">
     <tr><td>
      <input type="submit" value="Войти" />
     </td><td >
      <a href="${url('register')}">Регистрация</a><br />
      <!-- <a href="remind">Забыли пароль?</a> -->
     </td></tr>
     </table>
   </form>
   </div>
   <hr class="space" />
  %endif
  ${self.sidebar()}
 </div>
</div>

<div id="contentbottom"> </div>

<div id="footer">
 <span id="year"> © 2010-2011 </span>
 <span id="label"> Guidem </span>
 <br />
 <span id="license"> 
   Напоминаем, что все размещенные материалы предназначены исключительно для ознакомительных целей.
 </span>

</div>

<script type="text/javascript"><!--
reformal_wdg_domain    = "guidem";
reformal_wdg_mode    = 0;
reformal_wdg_title   = "Guidem: Музыкальный гид";
reformal_wdg_ltitle  = "";
reformal_wdg_lfont   = "";
reformal_wdg_lsize   = "";
reformal_wdg_color   = "#bfbfbf";
reformal_wdg_bcolor  = "#516683";
reformal_wdg_tcolor  = "#FFFFFF";
reformal_wdg_align   = "right";
reformal_wdg_charset = "utf-8";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#9FCE54";
reformal_wdg_cmline  = "#E0E0E0";
reformal_wdg_glcolor  = "#105895"
reformal_wdg_tbcolor  = "#FFFFFF"
//-->
</script>

<script type="text/javascript" language="JavaScript" src="http://widget.reformal.ru/tab5.js"></script><noscript><a href="http://guidem.reformal.ru">Guidem: Музыкальный гид feedback </a> <a href="http://reformal.ru"><img src="http://reformal.ru/i/logo.gif" /></a></noscript>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10571639-1");
pageTracker._trackPageview();
} catch(err) {}</script>


<!-- Yandex.Metrika -->
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
<div style="display:none;"><script type="text/javascript">
try { var yaCounter1922239 = new Ya.Metrika(1922239);
yaCounter1922239.clickmap(true);
yaCounter1922239.trackLinks(true);
} catch(e){}
</script></div>
<noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/1922239" alt="" /></div></noscript>
<!-- /Yandex.Metrika -->


</body>
<%def name="sidebar()"></%def>
<%def name="js()"></%def>
<%def name="css()"></%def>
