<%inherit file="/base.htm" />
<%namespace name="ext" file="/ext.htm" />
<%namespace name="social" file="/social/ext.htm" />

<div align="left"><img src="/images/fresh/hdiscussions.png" /></div>
<hr class="space" />

%for discus in c.discussions:
 <div class="first">
  <small>${discus.datetime.strftime('%d.%m.%y')}</small>
  <h5><a href="${url('discus', id=discus.id)}">${discus.title}</a></h5>
  <span> ${discus.theme} </span> 
  <a class="continue" href="${url('discus', id=discus.id)}"><img src="/images/fresh/moreicon.png" /></a>
 </div>
  <hr class="space" />
%endfor
<div>
 ${c.discussions.pager(u'$link_first $link_previous $first_item - $last_item из $item_count $link_next $link_last')}
</div>

%if request.environ['_auth']:
<div class="first">
 <form name="discussion" action="${url('add_discussion')}" enctype="multipart/form-data" method="post">
 <fieldset>
  <legend> Новая дискуссия </legend>
  <label for="title">Название дискуссии:</label><br />
  <input type="text" name="title" size="70"/><br />
  <label for="theme">Тема:</label><br />
  <input type="text" name="theme" size="70"/><br />
  <br/>
  <input type="submit" value="Создать" />
 </fieldset>
 </form>
</div>
%else:
 <div class="first">
  ${social.enter()}, чтобы создавать новые дискуссии.
 </div>
%endif

<%def name="sidebar()">
 <div align="right"><img src="/images/fresh/haction.png" /></div>
 <hr class="space" />
 <div class="sidebar-record">
  <small>${ext.items_per_page()}</small>
 </div>
</%def>

<%def name="title()"> Дискуссии </%def>