<%inherit file="/base.htm" />

<div align="left"><img src="/images/fresh/herror.png" /></div>
<h1 class="first"> ${c.code} </h1>

%if c.code=="403":
 <h5 class="first"> Доступ запрещен </h5>
%elif c.code=="404":
 <h5 class="first"> Страница не найдена </h5>
%endif

<%def name="title()"> Ошибка ${c.code} </%def>