<%def name="items_per_page()">
<span>Элементов на странице</span>
 %if c.items_per_page!=10:
  <a href="${h.url_query_edit(request.url, 'items_per_page', 10)}">10</a>
 %else:
  <span>10</span>
 %endif
 %if c.items_per_page!=20:
  <a href="${h.url_query_edit(request.url, 'items_per_page', 20)}">20</a>
 %else:
  <span>20</span>
 %endif
 %if c.items_per_page!=50:
  <a href="${h.url_query_edit(request.url, 'items_per_page', 50)}">50</a>
 %else:
  <span>50</span>
 %endif
</%def>