<%inherit file="/base.htm"/>
<%namespace name="element" file="/social/elements.htm" />

%if c.tracks:
<div align="left"><img src="/images/fresh/hmusic.png" /></div>
 <hr class="space" />
 <div class="head-track first">
   <a href="${url('song', id=c.tracks[0].id)}">
     <img src="/images/btn.png" class="play-btn" alt="Play" />
   </a>
     <h5> 
      <a href="${url('artist', id=c.tracks[0].artist)}">
	 ${c.tracks[0].artistobj.name}
       </a>  
     </h5>
     <span class="news title">
       <a href="${url('song', id=c.tracks[0].id)}">
	 ${c.tracks[0].title}
       </a>
     </span>
 </div>

 <div class="head-track">
   <a href="${url('song', id=c.tracks[1].id)}">
     <img src="/images/btn.png" class="play-btn" alt="Play" />
   </a>
     <h5> 
       <a href="${url('artist', id=c.tracks[1].artist)}">
	 ${c.tracks[1].artistobj.name}
       </a>  
     </h5>
     <span class="news title">
       <a href="${url('song', id=c.tracks[1].id)}">
	 ${c.tracks[1].title}
       </a>
     </span>
 </div>

 <div class="head-track">
   <a href="${url('song', id=c.tracks[2].id)}">
     <img src="/images/btn.png" class="play-btn" alt="Play" />
   </a>
     <h5> 
       <a href="${url('artist', id=c.tracks[2].artist)}">
	 ${c.tracks[2].artistobj.name}
       </a>  
     </h5>
     <span class="news title">
       <a href="${url('song', id=c.tracks[2].id)}">
	 ${c.tracks[2].title}
       </a>
     </span>
 </div>
<hr class="space" />
%endif

<div align="left"><img src="/images/fresh/hlast.png" /></div>
<hr class="space" />

%for index, group in enumerate(c.timeline):
  <div class="group-box" id="group${index}">
  %if len(group)==1:
    ${group[0].render_one()}
  %else:
    ${group.header()}
    <hr class="space" />
    <div class="group first hidden">
      %for element in group:
	${element.render()}
      %endfor

      %if group.hidden:
      <div class="first">
	<a class="continue group-hidden-button" href="#">
	  Еще ${len(group.hidden)}...
	</a>
      </div>
      <hr class="space" />
      <div class="group-hidden hidden">
	%for element in group.hidden:
      	${element.render()}
	%endfor
      </div>
      %endif
    </div>
    <hr class="space" />
  %endif
  </div>
%endfor

<%def name="sidebar()">
 <div align="right"><img src="/images/fresh/hdiscus.png" /></div>
 <hr class="space" />
 %for comment in c.comments[:50]:
 %if comment.discussion:
 <div class="sidebar-record">
  <strong>${comment}</strong><br />
  <small>Написал:</small>
  <a href="${url('show_account', username=comment.username)}">${comment.username}</a>
  <small>в:</small>
  <a href="${url('discus', id=comment.discussion.id)}">${comment.discussion.title}</a>
 </div>
 <hr class="space" />
 %endif
 %endfor 
</%def>

<%def name="title()">Главная страница</%def>
<%def name="js()">
  <script>
  var s = 1;
  $(document).ready(function(){ 
    $(".group-header").click(function(){
      var self = this;
      node = $(this).nextAll('.group');
      $(node).slideToggle(250, function(){
	if($(node).is(':visible')){
	  $(self).children('.showme').text('свернуть');
	} else {
	  $(self).children('.showme').text('развернуть');
	};
      });
    });
      
      $('.group-hidden-button').click(function(){
	  $(this).parent().next().next().slideDown(300);
	  $(this).remove();
	  return false;
      })
      
    $(".group").first().slideDown(300, function(){
      node = $(this).prevAll('.group-header');
      $(node).children('.showme').text('свернуть');    
    });
    
    $(".group-header").hover(function(){
      $(this).children('.showme').fadeIn(100);
    }, function(){
      $(this).children('.showme').fadeOut(80);
    });
  });
  </script>
</%def>
