<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
 <title> ${self.title()} | Guidem </title>
 <link rel="stylesheet" type="text/css" href="/css/fresh.css" />
 <link rel="stylesheet" type="text/css" href="/css/social.css" />
 <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="Stylesheet" />
 <!--[if lte IE 7]>
  <link rel="stylesheet" type="text/css" href="/css/freshie.css" />
 <![endif]-->
 ${self.css()}
 
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <meta http-equiv="cache-control" content="no-cache" />
 <link rel="icon" href="/images/fresh/favicon/logo.png" type="image/png" />
 <link rel="shortcut icon" href="/images/fresh/favicon/logo.ico" /> 
 ${self.js()}
</head>


<body>
<hr class="space" />
<div align="center">
  <div class="player-base ui-widget-header ui-corner-all">  
   <div id="player-controlls"></div>    
    <button id="player-rv">rv</button>
    <button id="player-play">play</button>
    <button id="player-ff">ff</button>
    <div id="player-progressbar" align="center">
     <span>
      <small id="player-durationestimates"></small>
      <small>из</small>
      <small id="player-duration"></small>
     </span>     
    </div>
    <br />
    <small id="player-loading">загружается...</small>
    <div id="player-info" class="prepend-top"></div> 
  </div>
 <hr class="space" />
 <div id="player-radio-space" class="ui-corner-all">
   <button id="player-radio-on">on</button>
   <button id="player-radio-off">off</button>
   <ol id="player-radio">
   </ol>
  </div>

 
</div>
<hr class="space" />
<div id="footer">
 <span id="year"> © 2010 </span>
 <span id="label"> Guidem </span>
</div>

</body>


</html>

<%def name="css()"></%def>


<%def name="title()">Радио Классика</%def>
<%def name="js()">
<link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
<script type="text/javascript" src="/js/soundmanager2.js"></script>
<script type="text/javascript" src="/js/player2.js"></script>
<script type="text/javascript">
    var sm = soundManager;
    $(document).ready(function() {
        sm.url = '/swf/';
        sm.debugMode = false;
        player.init();
        action.radio_on();
    });
</script>

</%def>