<%def name="news(news)">
   <h5 class="first"> <a href="${url('news', id=news.id)}">${h.sub(news.title, 50)}</a> </h5>
   <span class="first news"> ${h.text_content(news.text)} </span> 
   <div class="first">
    <a class="continue" href="${url('news', id=news.id)}">продолжение</a>
    <img src="/images/fresh/moreicon.png" />
   </div>
   <hr class="space" />
</%def>

<%def name="news_one(news)">
<h5 class="first group-header">
    <small> ${news.datetime.strftime('%d.%m.%y')} </small>
    Свежая новость: ${h.sub(news.title, 50)} 
</h5>
<hr class="space" />
<div class="first group hidden">    
    <span class="first news"> ${h.text_content(news.text)} </span> 
    <div class="first">
        <a class="continue" href="${url('news', id=news.id)}">продолжение</a>
        <img src="/images/fresh/moreicon.png" />
    </div>
</div>
<hr class="space" />
</%def>    

<%def name="account(account)">
<h5 class="first">
  <a href="${url('show_account', username=account.username)}">${account.username}</a>
</h5>
<hr class="space" />
</%def>

<%def name="account_one(account)">
<h5 class="first">
  <small>${account.datetime.strftime('%d.%m.%y')}</small>
  Приветствуем пользователя
  <a href="${url('show_account', username=account.username)}">${account.username}</a>
</h5>
<hr class="space" />
</%def>


<%def name="track(track)">
<h5 class="timeline-track first">
   <a href="${url('song', id=track.id)}" onclick="javascript:play('${track.id}');return false;">
     <img src="/images/btn.png" class="small-play-btn" alt="Play" />
   </a>
       <a href="${url('artist', id=track.artist)}">
	 ${track.artistobj.name}
       </a>  
       -
       <a href="${url('song', id=track.id)}">
	 ${track.title}
       </a>
</h5>
<hr class="space" />
</%def>

<%def name="track_one(track)">
<h5 class="timeline-track first">
    <small> ${track.datetime.strftime('%d.%m.%y')} </small>
    Новая песня
   <a href="${url('song', id=track.id)}" onclick="javascript:play('${track.id}');return false;">
     <img src="/images/btn.png" class="small-play-btn" alt="Play" />
   </a>
       <a href="${url('artist', id=track.artist)}">
	 ${track.artistobj.name}
       </a>  
       -
       <a href="${url('song', id=track.id)}">
	 ${track.title}
       </a>
</h5>
<hr class="space" />
</%def>

<%def name="news_header(num, datetime)">
    <h5 class="first group-header">
    <small> ${datetime.strftime('%d.%m.%y')} </small>	
    %if num==1:
        Свежая новость
    %else:
        Свежие ${num} ${h.adopt(num, [u'новость', u'новости', u'новостей'])}
        <strong class="hidden showme">развернуть</strong>
    %endif    
    </h5>
</%def>

<%def name="track_header(num, datetime)">
    <h5 class="first group-header">
    <small> ${datetime.strftime('%d.%m.%y')} </small>
    %if num==1:
        Новая песня
    %else:
        Новые ${num} ${h.adopt(num, [u'песня', u'песни', u'песен'])}
        <strong class="hidden showme">развернуть</strong>	
    %endif
    </h5>
</%def>

<%def name="account_header(num, datetime)">
    <h5 class="first group-header">
    <small> ${datetime.strftime('%d.%m.%y')} </small>
    %if num==1:
        Приветствуем нового пользователя
    %else:
        К нам присоединились ${num} ${h.adopt(num, [u'пользователь', u'пользователя', u'пользователей'])}
        <strong class="hidden showme">развернуть</strong>	
    %endif
    </h5>     
</%def>