<%inherit file="/base.htm" />
<%namespace name="ext" file="/ext.htm" />
<%namespace name="element" file="/social/elements.htm" />


%if c.accounts:
 <div align="left"><img src="/images/fresh/hnewusers.png" /></div>
 <hr class="space" /> 
 %for account in c.accounts:
 <div class="first append-bottom">
  ${element.account(account.username)}
 </div>
 %endfor
 <hr class="space" />
 <div class="navigation first">${c.accounts.pager(u'~2~', page_param='accounts_page')}</div> 
%endif


%if c.tracks:
 %if c.accounts:
  <hr class="space"/>
 %endif
 <div align="left"><img src="/images/fresh/hnewtracks.png" /></div>
 <hr class="space" />
 %for track in c.tracks:
  <div class="first   append-bottom">
    <a href="${url('artist', id=track.artist)}">${h.title(track.artistobj.name)}</a>
    &nbsp;&nbsp;
    ${element.play(track)}
    <a href="${url('song', id=track.id)}">${h.title(track.title)}</a>
  </div>
 %endfor
 <hr class="space" />
 <div class="first navigation">${c.tracks.pager(u'~2~', page_param='tracks_page')}</div>
%endif

%if c.artists:
 %if c.tracks:
  <hr class="space"/>
 %endif
 <div align="left"><img src="/images/fresh/hnewartists.png" /></div>
 <hr class="space" />
 %for artist in c.artists:
 <div class="first   append-bottom">
  <a href="${url('artist', id=artist.id)}"> ${h.title(artist.name)}</a>
 </div>
 %endfor
 <hr class="space" />
 <div class="first navigation">${c.artists.pager(u'~2~', page_param='artists_page')}</div>
%endif

<%def name="sidebar()">
 <div align="right"><img src="/images/fresh/haction.png" /></div>
 <hr class="space" />
 <div class="sidebar-record">
  <small>${ext.items_per_page()}</small>
 </div>
</%def>

<%def name="title()">Обновления</%def>