<%inherit file="/admin/base.htm" />

<form name="fileform" action="${url('add_image_submit')}" enctype="multipart/form-data" method="post">
 <fieldset>
  <legend> Загрузка изображения </legend>
  <label for="title">Название изображения:</label><br />
  <input type="text" name="title" size="70" /><br />
  <label for="description">Описание:</label><br />
  <input type="text" name="description" size="70" /><br />
  <label for="file">Файл:</label><br />
  <input type="file" name="file" /><br />
  <br/>
  <input type="submit" value="Загрузить" />
 </fieldset>
</form>

<%def name="title()"> Загрузка файла </%def>