<%inherit file="/admin/base.htm" />

<form name="fileform" action="${url('master_track_submit')}" enctype="multipart/form-data" method="post">
 <fieldset>
  <legend> Мастер загрузки музыки </legend>
  <label for="file">Файл:</label><br />
  <input type="file" name="file" /><br />
  <br/>
  <input type="submit" value="Добавить" />
 </fieldset>
</form>

<form name="fileform" action="${url('master_track_url_submit')}" method="post">
 <fieldset>
  <legend> Мастер скачивания музыки </legend>
  <label for="artist">Исполнитель:</label><br />
  <input type="text" size="60" name="artist" /><br />  
  <label for="title">Название композиции:</label><br />
  <input type="text" size="60" name="title" /><br />
  <label for="url">Ссылка:</label><br />
  <input type="text" size="60" name="url" /><br />
  <br/>
  <input type="submit" value="Добавить" />
 </fieldset>
</form>

<%def name="title()"> Загрузка файла </%def>