<%inherit file="/admin/base.htm" />

<form name="fileform" action="${url('add_track_submit')}" enctype="multipart/form-data" method="post">
 <fieldset>
  <legend> Добавление музыки </legend>
  <label for="title">Название композиции:</label><br />
  <input type="text" name="title" size="70"/><br />
  <label for="artist">Исполнитель:</label><br />
  <input type="text" name="artist" size="70"/><br />
  <label for="file">Файл:</label><br />
  <input type="file" name="file" /><br />
  <br/>
  <input type="submit" value="Добавить" />
 </fieldset>
</form>

<%def name="title()"> Загрузка файла </%def>