<%inherit file="/admin/base.htm" />

<ul>
 <li><a href="${url('master_track')}">Мастер загрузки музыки</a></li>
 <li><a href="${url('add_image')}">Загрузить изображение</a></li>
 <li><a href="${url('add_news')}">Добавить новость</a></li>
 <li><a href="${url('admin_images')}">Изображения</a></li>
 <li><a href="${url('admin_stream')}">Обновления</a></li>
</ul>

<%def name="title()">Администрировние</%def>