<%inherit file="/admin/base.htm" />
<h4>Изображения</h4>

<ul>
%if c.images:
 %for image in c.images:
 <li>
  <p>link: <input type="text" value="${url('image', id=image.id)}" readonly/><br />${image.title}</p>
  <img src="${url('image', id=image.id)}"/>
 </li>
 %endfor
 <p>${c.images.pager(u'$link_first $link_previous $first_item - $last_item из $item_count $link_next $link_last')}</p>
%else:
 <pre> Нет изображений. </pre>
%endif
</ul>

<%def name="title()">Изображения</%def>