<%inherit file="/admin/base.htm" />
<%namespace name="social" file="/social/ext.htm" />
<%namespace name="element" file="/social/elements.htm" />
<%namespace name="ext" file="/ext.htm" />

<h5>Комментарии</h5>
%if c.comments:
 %for comment in c.comments:
  ${element.account(comment.username)}
  <div>
   ${comment}
  </div>
  <div>
   <a href="${url('remove_comment', comment=comment.id)}" style="display:inline-block;vertical-align:middle;">
    <img src="/images/del.png" height="16px" width="16px"/>
   </a> 
   <span>spam:${comment.spam}</span>
  </div>
 %endfor
 ${element.paginate(c.comments, 'comments_page')}
%else:
 <div> Нет комментариев. </div>
%endif

<hr class="space" />
<div>
<h5>Пользователи</h5>
%if c.accounts:
 %for account in c.accounts:
  ${element.account(account.username, account.datetime)}
 %endfor
 ${element.paginate(c.accounts, 'accounts_page')}
%else:
 <div> Нет пользователей. </div>
%endif
</div>

<hr class="space" />
<div>
<h5>Спамеры</h5>
%if c.spamers:
 %for spamer in c.spamers:
  ${element.account(spamer.username, spamer.datetime)}
 %endfor
 ${elements.paginate(c.spamers, 'spamers_page')}
%else:
 <div> Нет спамеров. </div>
%endif
</div>

<hr class="space" />

<h5>Непроверенная музыка</h5>
%if c.tracks:
 %for track in c.tracks:
  ${element.account(track.username, track.datetime)}
  <div class="span-12 last">
  <a href="${url('artist', id=track.artist)}">${track.artistobj.name}</a>
  - 
  <a href="${url('song', id=track.id)}">${track.title}</a>
  </div>
 %endfor
 ${element.paginate(c.tracks, 'tracks_page')}
%else:
 <div> Нет музыки. </div>
%endif

<%def name="sidebar()">
 <div align="right"><img src="/images/fresh/haction.png" /></div>
 <hr class="space" />
 <div class="sidebar-record">
  <small>${ext.items_per_page()}</small>
 </div>
</%def>

<%def name="title()">Обновления</%def>