<li class="append-bottom player-track ui-corner-all">
 <a style="display:inline-block;vertical-align:middle;"  href="${url('song', id=c.track.id)}" onclick="javascript:action.play(${c.track.id}); widget.playnow($(this));return false;">
  <img src="/images/play.png" height="16px" width="16px" style="vertical-align:bottom;"/>
 </a>
${c.track.artistobj.name} - ${c.track.title}
</li>
