<li class="append-bottom">
 <a style="display:inline-block;vertical-align:bottom;"  href="${url('song', id=c.track.id)}" onclick="javascript:action.back(${c.track.id}); widget.playnow($(this));return false;">
  <img src="/images/play.png" height="16px" width="16px" style="vertical-align:bottom;"/>
 </a>
 ${c.track.artistobj.name} - ${c.track.title}
</li>
