/* Layout ******************/
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  src: local('Cuprum'), url('/fonts/Cuprum.ttf') format('truetype');
}

body {
    margin: 0 auto; padding: 0px;
    width: 972px;
}

a {
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
    color: #cc3333;
}

#submenu a:hover {
    color: #fff;
    text-decoration: none;
}

ul#navigation {
    margin: 0px; padding: 0px;
    margin-top: 10px;
}
ul#navigation li{
    float: left;
    list-style: none;
    margin: 0 15px;padding: 0px;
    
    line-height: 40px;
    vertical-align: middle;
}

div#navigation-bottom {
    clear: both;
}

div#base-navigation {
    display: inline;
    float: left;
    width: 181px;
    text-align: center;    
}

div#base-navigation img{
    margin: 0 6px; padding: 0px;
}

div#submenu {
    width: 302px;
    height: 40px;
    
    max-height: 40px;
    overflow: hidden;
    
    display: inline;
    float: left;
    margin: 0; padding: 0px;

    position: relative;
    top: -25px;
    left: 150px;
    
    text-align: center;
}

div#submenu img{
    z-index:-1;
}

div#submenu div {
    position: absolute;
    left:15px;
    top:0;

}

div#submenu em {
    display: inline-block;
    margin: 0 5px; padding-top: 15px;
    border-bottom: 1px dashed #FFFFFF;
}

div#main {
    clear: both;
    overflow: hidden;
    min-height: 500px;
    width: 100%;
}

div#content {
    float: left;
    width: 715px;
    margin-left: 3px;
}

div#sidebar {
    float: right;
    width: 215px;
    margin-right: 4px;
}

div#contentbottom {
    clear: both;
    width: 972px;
    height: 29px;
}

div#contenttop {
    clear: both;
    width: 972px;
    height: 29px;
}

div#footer {
    clear: both;
    text-align: center;
    margin-left: 50px;
}    

div.head-news, div.head-track {
    float: left;
    width: 205px;
    padding-right: 20px;
}

div.head-track {
    text-align: center;
}

div.head-track h5 {
    line-height: 2em;
}

div.head-track span.news {
    line-height: 1.5em;
}
   

ul#usermenu {
    margin: 0px; padding: 0px;
    list-style: none;
}

span.news {
    display: inline-block;
    overflow: hidden;
    max-height: 6.1em;
}

h5 {
    margin:0px; padding: 0px;
    max-height: 2.5em;
    overflow: hidden;
}

h5.download:hover {
    text-decoration: underline;
}

div.sidebar-record {
    max-width: 200px;
    overflow: hidden;
}

div.login-form {
    text-align: left;
}

input#username, input#password {
    width: 170px;
}

div#flash-error, div#flash-success {
    clear: both;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 4px;
    font-size: 16px;
    border: 1px dotted #505456;
}

div#flash-error {
    background-image: url(/images/fresh/flashbg.png);
}

div#flash-success {
    background-image: url(/images/fresh/flashbg.png);
}

div.player {
    width: 650px;
    padding: 3px;
}
button#player-play, button#player-rv, button#player-ff {
    display: inline-block;
    vertical-align: middle;
}

div#player-progressbar {
    display: inline-block;
    vertical-align: middle;
    width: 600px;
}
div.player-base {
    width: 730px;
    padding: 10px;
}

div.pl-player {
    width: 650px;
}

div.player-base > small {
    padding-left: 120px;
}

div#player-radio-space {
    padding: 20px;
    background: url("/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x #CCCCCC;
    border: 1px solid #AAAAAA;
}

li.player-track {
    line-height: 2em;
    padding: 3px;
    border: 1px solid #cccccc;
}

li.player-track:hover {
    background-color: #bbb;
    border: 1px solid #afafaf;
}

ul#usermenu-base {
    margin: 0; padding: 0;
    margin-left: 25px;
}
ul#usermenu-base li {
    display: inline-block;
    float: left;
    padding: 4px;
}
ul#usermenu-base li:first-child{
    padding-left:0px;
}

a img {
    vertical-align: bottom;
}

span.error-message {
    display: inline-block;
    padding: 5px 0px;
}

#search, .styled-input-box{
    width: 190px;
    height: 24px;
}

#search *{
    vertical-align: top;
}

#search-input, .styled-input {
    border: none;
    margin:0px; padding: 0px;
    margin-top: 5px;
    margin-left: 10px;
    width: 155px;
    height: 20;
    text-align: top;
}

.styled-input {
    width: 170px;
}

#search-icon {
    border: none;
    background-image: url(/images/fresh/search-icon.png);
    background-repeat: no-repeat;
    background-color: #f3f3f3;
    width: 12px;
    height: 12px;
    margin:0px; padding: 0px;    
    margin-top: 6px;
    paddding: 2px;
    cursor: pointer;
}

#logo {
    vertical-align: inherit;
}
/* Fonts *******************/

body {
    font-size: 12px;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

strong {
    font-weight: normal;
}

ul#navigation li a {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: #3F4143 0 1px 2px;
}

em {
    font-size: 14px;
    color: #FFFFFF;    
}

h5, h5 a {
    font-size: 14px;
    font-weight: bold;
    color: #2C7BB6;
}

h5 a {
    text-decoration: none;
}

span.news {
    font-size: 12px;
}

a.continue {
    font-size: 14px;
    font-weight: bold;
    color: #505456;
    text-decoration: none;
    line-height: 8px;
}

div.continue {
    line-height: 8px;
}

small {
    font-size: 11px;
    color: #858C8F;
}

a {
    color: #2772AA;
    font-size: 12px;
}

strong {
    font-size: 14px;
    line-height: 14px;
}

ul#navigation li a strong{
    font-size: 14pt;
}

div#footer span#year, #license {
    font-size: 12px;
    color: #FFFFFF;
}

div#footer span#label {
    font-size: 12px;
    color: #98D3FF;
    text-shadow: #3F4143 0 1px 2px;
}

small#player-loading {
    font-weight: 500;
}

div#player-progressbar span {
    float: left;
    display: inline-block;
    width: 600px;
    margin-top: 5px;
    text-align: center;
}

div#player-info {
    text-transform: capitalize;
}

ol#player-radio, ol#player-history {
    text-transform: capitalize;
    padding: 0px;
}

h5 {
    text-transform: capitalize;
}
em a {
    color: #FFFFFF;
    text-decoration: none;
    font: inherit;
}
span.error-message {
    color: red;
}
/* Colors ******************/

body {
    background: url(/images/fresh/bg.gif);
}

div#contenttop {
    background-image: url(/images/fresh/contenttop.png);
    background-repeat: no-repeat;
}

div#contentbottom {
    background-image: url(/images/fresh/contentbottom.png);
    background-repeat: no-repeat;
}

div#main {
    background-image: url(/images/fresh/contentbg.png);
    _background-image: url(/images/fresh/contentbgie.png);    
    background-repeat: repeat-y;
}


#search, .styled-input-box {
    background-image: url(/images/fresh/hsearch.png);    
}

#search-input, .styled-input {
    background-color: #f3f3f3;
}
/* Misc ********************/
ul {
    list-style: none;
    margin: 0; padding: 0;
}

img, div#submenu, div#contenttop, div#contentbottom, div#main { 
    behavior: url(/css/pngfix/iepngfix.htc) 
}

img {
    border: 0;
}

ol#player-radio, ol#player-history {
    list-style: none;
}

.first {
    margin-left: 25px;
}

.first-double{
    margin-left: 50px;
}

hr.space {
    visibility:hidden;
    clear: both;
    margin-bottop: 10px;
}

br {
    height: 0px;
    margin: 0px; padding: 0px;
}

.append-bottom {
    margin-bottom: 5px;
}

.prepend-top {
    margin-top: 10px;
}
.highlight, .pager_link, .pager_curpage {
    display: inline-block;
    margin: 2px; padding: 3px;
    background-color: #CDCDCD;
    color: #505456;
    font-weight: 700;
    text-decoration: none;
    
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;

}

.active, .pager_curpage{
    background-color: #c0c0c0;
}

.loud {
    color: #505456;
    font-weight: 700;
    text-decoration: none;
    padding: 0px 3px;
    background-color: #c0c0c0;
    
    -moz-border-radius: 2px;  
    -webkit-border-radius: 2px;  
    border-radius: 2px;
}

.play-btn {
    width: 115px;
    height: 115px;
    opacity: .6;
}

.small-play-btn {
    width: 25px;
    height: 25px;
    opacity: .6;
}
.play-btn:hover, .small-play-btn:hover {
    opacity: 1;
    cursor: pointer;
}
   
.title {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

.group-header:hover, .group-hidden-button:hover {
    color: #cc3333;
    cursor: pointer;
}
.inline {
    display: inline;
}

.timeline-track *{
    font-family: 'Cuprum', arial, serif;
    font-size: 1.3em;
}
.timeline{
    vertical-align: middle;
}

iframe {
    display: none;
}

strong.showme {
    float: right;
    color: #888;
    text-transform: lowercase;
}

strong.showme:hover {
    color: #333;
}