@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  src: local('Cuprum'), url('/fonts/Cuprum.ttf') format('truetype');
}

a {
    color: #000;
    font-size: 1.2em;
}

a:hover {
    color: #cc3333;
}


table {
    width: 683px;
}

/* Player buttons */
#revBox, #playBox, #ffBox {
    height: 78px;
}

#revBox, #ffBox {
    width: 40px;
    text-align: center;
}

#playImg {
    width: 70px;
}

#playBox {
    width: 75px;
    text-align: center;
}

#playImg, #ffImg {
    opacity: 0.7;
}

#ffImg:hover, .highlightImg:hover {
    opacity: 1;
    cursor: pointer;
}

.transparent {
    opacity: 0.7
}

/* Volume Bar */

#volumeBox {
    width: 20px;
    margin: 3px;
}

#volumeImgBox, #volumeBarCtrl {
    cursor: pointer;
}

#volumeBox *{
    opacity: 0.93;
}

#volumeBarBox {
    position: relative;
    width: 10px; height: 50px;
    margin-left: 3px;
    margin-bottom: 3px;
}

#volumeBar, #volumeBarBg, #volumeBarCtrl {
    position: absolute;
    width: 10px;
    bottom:0;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;              
    border-radius: 3px; 

}

#volumeBar {
    background-color: #606060;
    border: 1px solid transparent;
    height: 75%;
    z-index: 2;
}

#volumeBarBg {
    border: 1px solid #606060;
    height: 100%;
    z-index: 1;
    
}

#volumeBarCtrl {
    border: 1px solid transparent;
    height: 100%;
    z-index: 3;
}

#volumeImgBox {
    height: 19px;
}
/* Progress bar */

#progressbarBox {
    position: relative;
}

#pgbPlay, #pgbLoading, #pgbBlank, #pgbRewinding {
    position: absolute;
    height: 5px;
    top:0;
    
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;              
    border-radius: 2px;     
}
    
#pgbBlank {
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

#pgbLoading {
    width: 0%;
    z-index: 2;
    background-color: #efefef;
}

#pgbPlay {
    width: 0%;
    z-index: 3;
    Background-color: #cc3333;
}

#pgbRewinding {
    width: 100%;
    z-index: 4;
    background: transparent;
}

.pgbPointer {
    cursor: pointer;
}

/* Counters */

#playCounter {
    text-align: left;
}

#totalCounter {
    text-align: right;
}

#playCounter, #totalCounter {
    line-height: 2em;
    font-family: 'Cuprum', arial, serif;    
    font-size: 12px;
}

/* Description */

#description {
    padding-left: 50px;
}

#descriptionTitle, #descriptionArtist {
    text-transform: capitalize;
    font-family: 'Cuprum', arial, serif;    
    margin: 0 0 12px 0;
}

#descriptionTitle {
    font-size: 24px;
}

#descriptionArtist {
    font-size: 16px;
}

/* History */

.trackBoxHidden, .trackBoxId {
    display: none;
}

.trackBox {
    padding: 3px;
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
}

.lastTrackBox {
    border-bottom: 1px solid transparent;
}

.trackBox *{
    vertical-align: middle;
}

.trackPlayImg {
    height: 20px;
    opacity: 0.7;
}

.trackPlayImg:hover {
    opacity: 1;
}

.trackBoxArtist, .trackBoxTitle {
    text-transform: capitalize;
    font-family: 'Cuprum', arial, serif;
    font-size: 16px;
}

/* Sidebar */

#compositionPlay, #cancelSelectionBox {
    text-align: center;
}

#cancelSelection {
    opacity: 0.3;
}

.cancelSelectionDisabled:hover {
    color: #000;
    cursor: default;
    text-decoration: none;
 }


.composition {
    color: #cc3333;
}

/* Tags */
#tagCloud {
    max-width: 200px;
}

.artistTagId {
    display: none;
}

.activeArtistTag {
    color: #cc3333;
}

a.prior1, a.prior2, a.prior3 {
    font-family: 'Cuprum', arial, serif;    
    text-transform: capitalize;
}

a.prior1 {
    font-size: 1.7em;
}

a.prior2 {
    font-size: 1.4em;
}

a.prior3 {
    font-size: 1.2em;
}

div#footer {
    clear: both;
    text-align: center;
    margin-left: 50px;
}    


/* Flash */

div#popup {
    display: none;
    position: fixed;
    background-color: #f2f2f2;
    bottom: 0; left:0;
    width: 100%;
    
    text-align: center;
    font-size: 3em;
    font-family: 'Cuprum', arial, serif;    
    padding: 0.3em;
    border-top: 1px solid #ccc;
    
    
}

div#popup-close {
    position: relative;
    float: right;
    margin-right: .8em;
}