/* Layout ******************/
div.comment {
    display: inline;
}

div.account-block {
    display: inline;
    margin: 2px; padding: 0px;
}

div.account-block *{
    vertical-align: bottom;
}
/* Fonts *******************/
/* Colors ******************/
/* Misc ********************/